In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/airplane-price-dataset/airplane_price_dataset.csv

In [4]:
import pandas as pd
import numpy as np

# Load dataset (Replace 'your_dataset.csv' with the actual filename)
df = pd.read_csv("/kaggle/input/airplane-price-dataset/airplane_price_dataset.csv")

# Select columns where you want to introduce missing values
columns_to_make_missing = ['Kapasite', 'YaÅŸ']  # Replace with actual column names

# Introduce missing values in random 10% of rows for selected columns
for col in columns_to_make_missing:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

# Save the modified dataset
df.to_csv("your_modified_dataset.csv", index=False)

print("Missing values added successfully!")

Missing values added successfully!

In [5]:
# Load the dataset
file_path = "/kaggle/input/airplane-price-dataset/airplane_price_dataset.csv"
df_airplane = pd.read_csv(file_path)

# Display basic information about the dataset
df_airplane.info(), df_airplane.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12377 entries, 0 to 12376
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Model                       12377 non-null  object
 1   Üretim Yılı                 12377 non-null  int64
 2   Motor Sayısı                12377 non-null  int64
 3   Motor Türü                  12377 non-null  object
 4   Kapasite                    12377 non-null  int64
 5   Menzil (km)                 12377 non-null  int64
 6   Yakıt Tüketimi (L/saat)     12377 non-null  float64
 7   Saatlik Bakım Maliyeti ($)  12377 non-null  float64
 8   Yaş                         12377 non-null  int64
 9   Satış Bölgesi               12377 non-null  object
 10  Fiyat ($)                   12377 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.0+ MB

(None,
                Model  Üretim Yılı  Motor Sayısı Motor Türü  Kapasite  \
 0  Bombardier CRJ200         1987             2   Turbofan        50
 1  Bombardier CRJ200         1997             2   Turbofan        50
 2        Airbus A320         1988             2   Turbofan       180
 3         Boeing 737         2023             2   Turbofan       162
 4         Cessna 172         1985             1     Piston         4

    Menzil (km)  Yakıt Tüketimi (L/saat)  Saatlik Bakım Maliyeti ($)  Yaş  \
 0         3000                    14.36                     2185.43   36
 1         3000                     4.03                     1202.08   26
 2         6300                    13.26                      761.38   35
 3         5700                    14.61                      592.63    0
 4         1285                    18.49                     4245.99   38

    Satış Bölgesi     Fiyat ($)
 0           Asya  1.285708e+07
 1         Avrupa  1.391406e+07
 2     Avustralya  9.073570e+07
 3     Avustralya  1.366597e+08
 4  Güney Amerika  2.037981e+05  )

In [6]:
# Check for missing values
df_airplane.isnull().sum()

Model                         0
Üretim Yılı                   0
Motor Sayısı                  0
Motor Türü                    0
Kapasite                      0
Menzil (km)                   0
Yakıt Tüketimi (L/saat)       0
Saatlik Bakım Maliyeti ($)    0
Yaş                           0
Satış Bölgesi                 0
Fiyat ($)                     0
dtype: int64

In [7]:
import numpy as np

# Introduce missing values in 10% of rows for 'Kapasite' and 'Yaş'
columns_to_make_missing = ['Kapasite', 'Yaş']
for col in columns_to_make_missing:
    df_airplane.loc[df_airplane.sample(frac=0.1).index, col] = np.nan

# Verify missing values are introduced
df_airplane.isnull().sum()

Model                            0
Üretim Yılı                      0
Motor Sayısı                     0
Motor Türü                       0
Kapasite                      1238
Menzil (km)                      0
Yakıt Tüketimi (L/saat)          0
Saatlik Bakım Maliyeti ($)       0
Yaş                           1238
Satış Bölgesi                    0
Fiyat ($)                        0
dtype: int64

In [8]:
# Handling missing values

# 'Kapasite' and 'Yaş' are numerical features, so I'll use median imputation
df_airplane['Kapasite'].fillna(df_airplane['Kapasite'].median(), inplace=True)
df_airplane['Yaş'].fillna(df_airplane['Yaş'].median(), inplace=True)

# Verify missing values are handled
df_airplane.isnull().sum()

<ipython-input-8-76db54be6456>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_airplane['Kapasite'].fillna(df_airplane['Kapasite'].median(), inplace=True)
<ipython-input-8-76db54be6456>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_airplane['Yaş'].fillna(df_airplane['Yaş'].median(), inplace=True)

Model                         0
Üretim Yılı                   0
Motor Sayısı                  0
Motor Türü                    0
Kapasite                      0
Menzil (km)                   0
Yakıt Tüketimi (L/saat)       0
Saatlik Bakım Maliyeti ($)    0
Yaş                           0
Satış Bölgesi                 0
Fiyat ($)                     0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

# Encoding categorical variables

# Label Encoding for 'Motor Türü' (ordinal encoding assumption)
label_encoder = LabelEncoder()
df_airplane['Motor Türü'] = label_encoder.fit_transform(df_airplane['Motor Türü'])

# One-Hot Encoding for 'Satış Bölgesi' (nominal category)
df_airplane = pd.get_dummies(df_airplane, columns=['Satış Bölgesi'], prefix='Region')

# Display first few rows after encoding
df_airplane.head()

,Model,Üretim Yılı,Motor Sayısı,Motor Türü,Kapasite,Menzil (km),Yakıt Tüketimi (L/saat),Saatlik Bakım Maliyeti ($),Yaş,Fiyat ($),Region_Afrika,Region_Asya,Region_Avrupa,Region_Avustralya,Region_Güney Amerika,Region_Kuzey Amerika
0,Bombardier CRJ200,0.162791,1.0,1,0.117347,0.119804,0.257661,0.374566,0.837209,0.012996,False,True,False,False,False,False
1,Bombardier CRJ200,0.395349,1.0,1,0.117347,0.119804,0.042318,0.156026,0.604651,0.014077,False,False,True,False,False,False
2,Airbus A320,0.186047,1.0,1,0.448980,0.350332,0.234730,0.058085,0.813953,0.092621,False,False,False,True,False,False
3,Boeing 737,1.000000,1.0,1,0.403061,0.308418,0.262873,0.020582,0.000000,0.139575,False,False,False,True,False,False
4,Cessna 172,0.116279,0.0,0,0.000000,0.000000,0.343757,0.832504,0.511628,0.000059,False,False,False,False,True,False

In [10]:
from sklearn.preprocessing import MinMaxScaler

# Selecting numerical features for scaling
num_features = ['Üretim Yılı', 'Motor Sayısı', 'Kapasite', 'Menzil (km)', 
                'Yakıt Tüketimi (L/saat)', 'Saatlik Bakım Maliyeti ($)', 'Yaş', 'Fiyat ($)']

# Applying Min-Max Scaling
scaler = MinMaxScaler()
df_airplane[num_features] = scaler.fit_transform(df_airplane[num_features])

# Display first few rows after scaling
df_airplane.head()

,Model,Üretim Yılı,Motor Sayısı,Motor Türü,Kapasite,Menzil (km),Yakıt Tüketimi (L/saat),Saatlik Bakım Maliyeti ($),Yaş,Satış Bölgesi,Fiyat ($)
0,Bombardier CRJ200,0.162791,1.0,Turbofan,0.117347,0.119804,0.257661,0.374566,0.837209,Asya,0.012996
1,Bombardier CRJ200,0.395349,1.0,Turbofan,0.117347,0.119804,0.042318,0.156026,0.604651,Avrupa,0.014077
2,Airbus A320,0.186047,1.0,Turbofan,0.448980,0.350332,0.234730,0.058085,0.813953,Avustralya,0.092621
3,Boeing 737,1.000000,1.0,Turbofan,0.403061,0.308418,0.262873,0.020582,0.000000,Avustralya,0.139575
4,Cessna 172,0.116279,0.0,Piston,0.000000,0.000000,0.343757,0.832504,0.511628,Güney Amerika,0.000059

In [11]:
from sklearn.model_selection import train_test_split

# Defining features (X) and target variable (y)
X = df_airplane.drop(columns=['Fiyat ($)', 'Model'])  # Dropping 'Model' as it's not useful for ML
y = df_airplane['Fiyat ($)']

# Splitting the dataset (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display shapes of the splits
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((9901, 9), (2476, 9), (9901,), (2476,))