In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/type-of-the-diamond/type of the Diamond new.csv

In [3]:
import pandas as pd
import numpy as np

# Load dataset (Replace 'your_dataset.csv' with the actual filename)
df = pd.read_csv("/kaggle/input/type-of-the-diamond/type of the Diamond new.csv")

# Select columns where you want to introduce missing values
columns_to_make_missing = ['carat', 'price']  # Replace with actual column names

# Introduce missing values in random 10% of rows for selected columns
for col in columns_to_make_missing:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

# Save the modified dataset
df.to_csv("your_modified_dataset.csv", index=False)

print("Missing values added successfully!")

Missing values added successfully!

In [5]:
import pandas as pd

# Load the dataset
file_path = "/kaggle/input/type-of-the-diamond/type of the Diamond new.csv"
df = pd.read_csv(file_path)

# Display basic information and first few rows
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cut            53940 non-null  object
 1   color          53940 non-null  object
 2   clarity        53940 non-null  object
 3   carat          53940 non-null  float64
 4   depth          53940 non-null  float64
 5   table          53940 non-null  float64
 6   price          53940 non-null  int64
 7   x (Premium)    53940 non-null  float64
 8   z (Very Good)  53940 non-null  float64
 9   y (Good)       53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

(None,
     cut color clarity  carat  depth  table  price  x (Premium)  z (Very Good)  \
 0  Fair     E     VS2   0.22   65.1   61.0    337         3.87           2.49
 1  Fair     E     SI2   0.86   55.1   69.0   2757         6.45           3.52
 2  Fair     F     SI2   0.96   66.3   62.0   2759         6.27           4.07
 3  Fair     F     VS2   0.70   64.5   57.0   2762         5.57           3.58
 4  Fair     F     VS2   0.70   65.3   55.0   2762         5.63           3.66

    y (Good)
 0      3.78
 1      6.33
 2      5.95
 3      5.53
 4      5.58  )

In [8]:
import numpy as np

# Introduce missing values in 10% of rows for 'carat' and 'price' columns
columns_to_make_missing = ['carat', 'price']
for col in columns_to_make_missing:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

# Check missing values
df.isnull().sum()

cut                  0
color                0
clarity              0
carat            14672
depth                0
table                0
price            14647
x (Premium)          0
z (Very Good)        0
y (Good)             0
dtype: int64

In [9]:
# Handling missing values
# Using median imputation for 'carat' and 'price' since they are numerical and might have skewed distributions

df['carat'].fillna(df['carat'].median(), inplace=True)
df['price'].fillna(df['price'].median(), inplace=True)

# Verify missing values are handled
df.isnull().sum()

<ipython-input-9-c95ddf9f5444>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['carat'].fillna(df['carat'].median(), inplace=True)
<ipython-input-9-c95ddf9f5444>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(), inplace=True)

cut              0
color            0
clarity          0
carat            0
depth            0
table            0
price            0
x (Premium)      0
z (Very Good)    0
y (Good)         0
dtype: int64

In [10]:
# Identifying categorical columns
categorical_columns = ['cut', 'color', 'clarity']

# Using one-hot encoding for nominal categorical variables
df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

# Display first few rows after encoding
df.head()

,carat,depth,table,price,x (Premium),z (Very Good),y (Good),cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.22,65.1,61.0,337.0,3.87,2.49,3.78,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,0.86,55.1,69.0,2757.0,6.45,3.52,6.33,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,0.70,66.3,62.0,2759.0,6.27,4.07,5.95,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,0.70,64.5,57.0,2762.0,5.57,3.58,5.53,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,0.70,65.3,55.0,2401.0,5.63,3.66,5.58,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [11]:
from sklearn.preprocessing import StandardScaler

# Identifying numerical columns for scaling
numerical_columns = ['carat', 'depth', 'table', 'price', 'x (Premium)', 'z (Very Good)', 'y (Good)']

# Applying Standard Scaling (Z-score normalization) as numerical features may have different scales
scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Display first few rows after scaling
df.head()

,carat,depth,table,price,x (Premium),z (Very Good),y (Good),cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,-1.352913,2.338808,1.585529,-0.915916,-1.659155,-1.486106,-1.711308,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,0.220137,-4.641468,5.165796,-0.216662,0.640822,-0.026547,0.521374,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,-0.173126,3.176441,2.033062,-0.216084,0.480359,0.752830,0.188661,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,-0.173126,1.919991,-0.204605,-0.215217,-0.143666,0.058476,-0.179075,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,-0.173126,2.478414,-1.099672,-0.319527,-0.090178,0.171840,-0.135297,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [12]:
from sklearn.model_selection import train_test_split

# Splitting dataset into features (X) and target variable (y)
X = df.drop(columns=['price'])  # Assuming 'price' is the target variable
y = df['price']

# Splitting into 80% training and 20% testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display shapes of the split datasets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((43152, 23), (10788, 23), (43152,), (10788,))